@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mulish');
@import url('https://fonts.googleapis.com/css?family=DM Sans');

body {
  background: #faf7f1;
}
.header {
  position: absolute;
  width: 85%;
  left: 15%;
  height: 5%;
  background: linear-gradient(270deg, #f2d496 -2.32%, #7da17d 102.16%);
}
.header-text {
  text-align: center;
  position: absolute;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff;
  font-family: Mulish;
}

.addmember {
  position: relative;
  line-height: 25px;
  text-align: right;
  color: #000000;
  letter-spacing: 0.2px;
  padding-right: 30px;
  font-family: Mulish;
}

.addmember:hover{
  cursor: pointer;
}
.container-member {
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  width: 85%;
  height: 25%;
  top: 5%;
  left: 15%;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.familymember {
  align-content: center;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 5rem;
  text-align: center;
}
.nameMember {
  margin: auto;
}
.poinMember {
  font-family: 'Mulish';
  padding-bottom: 2rem;
  text-align: center;
}

.headerTaskContainer {
  position: absolute;
  left: 20%;
  top: 32%;
  width: 75%;
  height: 3%;
  background-color: #faf7f1;
}
.header-task {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #464646;
}

.taskContainer {
  position: absolute;
  left: 20%;
  right: 5%;
  top: 36%;
  width: 75%;
  height: 60%;
  background: #faf7f1;
  overflow-y: auto;
}
.task {
  margin-top: 1rem;
  margin-bottom: 1.1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  height: 21%;
  border-radius: 10px;
  background: #ffffff;
}
.imageId {
  width: 10%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  background: #5b8f9a;
}
.dot {
  width: 1px;
  color: #c4c4c4;
}
.formContainer {
  position: absolute;
  left: 15%;
  top: 10%;
  height: 95%;
  width: 50%;
  background: #faf7f1;
}

.container-form {
  position: absolute;
  width: 85%;
  height: 95%;
  top: 5%;
  left: 15%;
  background: #faf7f1;
}
.formAddMember {
  margin-top: 3rem;
  height: 90%;
  width: 35%;
  background: #faf7f1;
}
.form {
  text-align: start;
  margin: auto;
}

.labelForm {
  color: #929292;
  font-family: 'DM Sans';
}

#labelPassword {
  width: 11%;
}
.btn-outline {
  border: 2px solid #5b8f9a;
  color: #5b8f9a;
  border-radius: 5px;
  background: #faf7f1;
}

.modal-body {
  font-family: 'Mulish';
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2px;
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
#modal {
  border-radius: 15px;
  left: 25%;
  top: 25%;
}
.btn-modal-cancle {
  border: 2px solid #5b8f9a;
  color: #5b8f9a;
  border-radius: 8px;
  background: #ffffff;
  margin: 0%;
  height: 42px;
  width: 112px;
}
.btn-modal-save {
  background: #5b8f9a;
  color: #fff;
  height: 42px;
  width: 112px;
  border-radius: 8px;
  border: none;
}
#dot-icon {
  font-size: 10px;
}
