
.input-bottom {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid gray;
    padding: 0.5rem 0;
    outline: none;
    border-radius: 0;
}

label {
    color: #929292;
}