.sidebar-nav1 ul .sidebar-item1 {
  width: 100%;
}
.sidebar-nav1 ul .sidebar-item1 .sidebar-link1 {
  color: #fff;
  padding: 14px 35px 14px 15px;
  border-left: 3px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 22.5px;
  font-weight: 300;
  text-decoration: none;
}
.sidebar-nav1 ul .sidebar-item1 .sidebar-link1 i {
  font-style: normal;
  width: 27px;
  font-size: 18px;
  color: #fff;
  display: inline-block;
  text-align: center;
}
.sidebar-nav1 ul .sidebar-item1 .sidebar-link1:hover {
  color: #212121;
  background-color: #f2d496;
}
.sidebar-nav1 ul .sidebar-item1 .sidebar-link1:hover i {
  color: #212121;
}
.sidebar-nav1 ul .sidebar-item1 .sidebar-link1 .hide-menu {
  font-size: 15px;
}
.sidebar-nav1 ul .sidebar-item1.selected > .sidebar-link1 {
  opacity: 1;
}
.sidebar-nav1 ul .sidebar-item1 .first-level {
  padding: 0 0 10px 0;
}
.sidebar-nav1 ul .sidebar-item1 .first-level .sidebar-item1.active .sidebar-link1 {
  opacity: 1;
}
.sidebar-nav1 ul .sidebar-item1 .first-level .sidebar-item1 .sidebar-link1 {
  padding: 10px 15px;
}
.sidebar-nav1 ul .sidebar-item1 .first-level .sidebar-item1 .sidebar-link1 i {
  font-size: 14px;
}
.sidebar-nav1 ul .nav-small-cap {
  font-size: 12px;
  padding: 14px 35px 14px 15px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 30px;
  margin-top: 10px;
  color: #fff;
  opacity: 0.3;
  text-transform: uppercase;
}
.sidebar-nav1 ul .nav-small-cap i {
  line-height: 30px;
  margin: 0 5px;
}

.sidebar-nav1 ul {
  margin: 0px;
  padding: 0px;
}
.sidebar-nav1 ul li {
  list-style: none;
}
