@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  /* padding-top: 10rem;
    padding-bottom: 20rem; */
}

.app {
  width: 100%;
  height: 100vh;
}

.link-nostyle {
  text-decoration: none;
  color: #666666;
  font-weight: bold;
  text-decoration: underline;
}

.btn-primary {
  background-color: #5b8f9a;
  border: none;
}

.left-sidebar {
  width: 15% !important;
  height: 100vh !important;
}

.notes-list {
  width: 25%;
  height: 100vh;
  background-image: linear-gradient(#7da17d, #f2d496);
}

.notes-item{
    width: 100%;
    height: 147px;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 10px;
    background-color: #F5F5F5;
    word-wrap: break-word;
    overflow: hidden;

}
.notes-item > h3{
    display: inline;
}

.notes-details {
  width: 60%;
  height: 100vh;
}

.notes-item {
  width: 100%;
  height: 147px;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 10px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.notes-item-active {
  background-color: #fff;
}

.notes-group {
  overflow-y: auto;
}

.reward-title{
    word-wrap: break-word;
}

#note_heading > h2, h3{
    display: inline;
}

.notes-content {
  overflow-y: auto;
}

#note_heading > h2, h3 {
  display: inline;
}

#note_footer > span,
h4 {
  display: inline;
}

#login-left {
  width: 42.5%;
  height: 100%;
  background-color: #faf7f1;
}

#login-right {
  height: 100%;
}

#eye_icon:hover {
  cursor: pointer;
}

#copyright {
  vertical-align: text-bottom;
  bottom: 40px;
}

#index_group {
  
  text-align: center;
  position: fixed;
  bottom: 1vh;
 
}

#landing{
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #FFBD24;
    background-image: url('/static/images/bglanding.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#pin_button:hover{
    cursor: pointer;
}
#index_login {
  width: 316px;
  height: 52px;
  background-color: white;
  color: #5b8f9a;
  border-radius: 1rem;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}


/* ripple effect */
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
.lds-ripple .lds-pos {
  position: absolute;
  border: 2px solid #2962ff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.1, 0.5, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.1, 0.5, 1) infinite;
}
.lds-ripple .lds-pos:nth-child(2) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
