@import url('https://fonts.googleapis.com/css?family=Mulish');

.container-header-task {
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  width: 85%;
  height: 21%;
  top: 5%;
  left: 15%;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.container-category {
  position: absolute;
  top: 30%;
  width: 80%;
  height: 50%;
  background: #f9e2b3;
}
.container-main-task {
  position: absolute;
  width: 85%;
  height: 74%;
  top: 26%;
  left: 15%;
}

.container-taskController {
  height: 74%;
  top: 26%;
  left: 15%;
}
.container-bodyTask {
  position: absolute;
  width: 70%;
  height: 88%;
  top: 12%;
  left: 15%;
  background: #faf7f1;
  margin-left: auto;
  margin-right: auto;
}
.category-text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}
