.w-100 {
    width: 100% !important;
}

.w-80 {
    width: 80% !important;
}
.w-50 {
    width: 50% !important;
}

.w-30 {
    width: 30% !important;
}

.h-30{
    height: 150px !important;
}

.h-50{
    height: 50%;
}

.h-90{
    height: 90%;
}

.h-100{
    height: 100%;
}

.h-button{
    height: 52px;
}

.margin-auto {
    margin: 0 auto;
}

.v-center {
    margin: auto auto;
}

.text-center{
    text-align: center;
}

.posx-25{
    position: relative;
    left: 25%;
}

.rectangle {
    height: 52px;
    width: 52px;
    background-color: #555;
}

.f-right{
    float: right;
}

.of-y{
    overflow-y: auto;
}