<aside class="left-sidebar text-white p-1 pb-1 pt-5" style="background-color: #7DA17D">

    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav1" style="font-family: 'DM Sans', sans-serif;">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <!-- ganti -->
                <div class="user text-center mb-3 text-dark" style="font-family: 'DM Sans', sans-serif;">

                    <% if( user.roleId==2 ){ %>
                        <img src="/static/images/users/Anak.png" class="rounded-circle" width="120">
                        <% }else { %>
                            <img src="/static/images/users/Mother.png" class="rounded-circle" width="120">
                            <% } %>

                                <p class="card-title mt-2 fw-normal fs-5">
                                    <%= user.name%>
                                </p>

                                <% if( user.roleId==2 ){ %>
                                    <p class="card-title mt-2 fw-normal fs-5">Anak </p>
                                    <% }else { %>
                                        <p class="card-title mt-2 fw-normal fs-5">Orangtua </p>
                                        <% } %>

                </div>
                <div id="list-page">
                    <li class="sidebar-item1"> <a class="sidebar-link1 waves-effect waves-dark sidebar-link1"
                            href="/family" aria-expanded="false">
                            <i class="me-3 bi bi-people" aria-hidden="true"></i><span
                                class="hide-menu">Family</span></a></li>
                    <li class="sidebar-item1"> <a class="sidebar-link1 waves-effect waves-dark sidebar-link1"
                            href="/tasks" aria-expanded="false"><i class="me-3 bi bi-briefcase-fill"
                                aria-hidden="true"></i><span class="hide-menu">Task</span></a></li>
                    <li class="sidebar-item1"> <a class="sidebar-link1 waves-effect waves-dark sidebar-link1"
                            href="/note" aria-expanded="false"><i class="me-3 bi bi-journal-bookmark-fill"
                                aria-hidden="true"></i><span class="hide-menu">Note</span></a></li>
                    <li class="sidebar-item1"> <a class="sidebar-link1 waves-effect waves-dark sidebar-link1"
                            href="/rewards" aria-expanded="false"><i class="me-3 bi bi-gift-fill"
                                aria-hidden="true"></i><span class="hide-menu">Reward</span></a></li>

                    <% if( user.roleId==1 ){ %>
                        <li class="sidebar-item1"> <a class="sidebar-link1 waves-effect waves-dark sidebar-link1 mb-4"
                                href="/articles" aria-expanded="false"><i class="me-3 bi bi-file-earmark-richtext-fill"
                                    aria-hidden="true"></i><span class="hide-menu">Articles</span></a></li>
                    <%  } %>

                        <li class="sidebar-item1"> <a class="sidebar-link1 waves-effect waves-dark sidebar-link1"
                                href="/logout" aria-expanded="false"><i class="me-3 bi bi-box-arrow-left"
                                    aria-hidden="true"></i><span class="hide-menu">Logout</span></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                </div>

            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>