<!DOCTYPE html>
<html>
  <head>
    <title>Add member</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/habiticon.png">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <h1>member</h1>

    <form action="/addmember" method="POST">
      <div>
        <label for="username">username</label>
        <input type="text" id="username" name="username" placeholder="Enter Name" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Create Password" />
      </div>
      <button type="submit">add member</button>
    </form>
    <p>
      Have An Account?
      <a href="/login">Login</a>
    </p>
    <p>
      <a href="/">Home</a>
    </p>
  </body>
</html>
