<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detail Article</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/habiticon.png">
    <link href="/static/styles/sidebar.css" rel="stylesheet">
    <link href="/static/styles/utils.css" rel="stylesheet">
    <link href="/static/styles/style.min.css" rel="stylesheet">
    <link href="/static/styles/dashboard.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <header class="topbar bg-light p-0 m-0" data-navbarbg="skin6" style="font-family: 'DM Sans', sans-serif;">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header p-0" data-logobg="skin6">
                  
                    <a class="navbar-brand" href="index.html m-0"></a>
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none m-0"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>

                <div class="navbar-collapse collapse p-0" id="navbarSupportedContent" data-navbarbg="skin5">
         
                    <Section id="tasks"></Section>
                    <div class="container p-0">
                        <div class="row text-dark">
                            <div class="col">
                                <p class="fs-5 fw-bold">Note</p>
                            </div>
                        </div>
                    </div>


                </div>
            </nav>
        </header>

        <%- include('./partials/sidebar') %>
   
        <div class="page-wrapper p-5 pt-2" style="font-family: 'DM Sans', sans-serif;">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-breadcrumb">
                        <div class="row align-items-center">
                            <div class="align-self-center">
                                <div class="d-flex align-items-center">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Artikel</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Detail Artikel</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">

                            <h1 class="title text-justify"><%= article.title %></h1>
                            <p class="excerpt">Sumber: <%= article.source %>
                            </p>

                            <div class="single-cover">
                                <div class="img-wrapper">
                                    <figure><img
                                            src="<%= article.image_url %>"
                                            class="w-100" alt="Mendidik Menarik, 10 Kegiatan Sains Anak saat Rumah Saja"
                                            onerror="this.onerror=null;this.classList.remove('preview');this.classList.add('no-image');this.src='https://www.popmama.com/themes/v1/desktop/img/no-image.jpg';">
                                    </figure>
                                </div><span class="main-article-source"></span>
                            </div>


                            <div id="article-content" class="single-article-content split-page-available">
                                <%= article.description %>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3><b>Artikel terbaru</b></h3>
                            <% for (let i = 0; i < new_articles.length; i++) {%>
                            <div class="container-fluid bg-white p-0 mt-4" style="border-radius: 10px">
                                <div class="row">
                                    <div class="col-md-3 p-0 btn"
                                        style="border-bottom-left-radius: 10px; border-top-left-radius: 10px; background-color: rgb(220,220,220);">
                                        <img class="w-100 h-100"
                                            style="border-bottom-left-radius: 10px; border-top-left-radius: 10px;"
                                            src="<%= new_articles[i].image_url %>" />
                                    </div>
                                    <div class="col-md-9 p-3" style="min-height: 70px">
                                        <h6><b><a href="/article/<%= new_articles[i].slug %>"><%= new_articles[i].title %></a></b></h6>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    
    </div>
  

    <script src="/static/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>
    <script src="/static/js/waves.js"></script>
    <script src="/static/js/sidebarmenu.js"></script>
    <script src="/static/js/custom.js"></script>
</body>

</html>