<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Articles</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/habiticon.png">
    <link href="/static/styles/sidebar.css" rel="stylesheet">
    <link href="/static/styles/utils.css" rel="stylesheet">
    <link href="/static/styles/style.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    </div>

    <div id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    
        <div class="header d-flex justify-content-center" style="background-image: linear-gradient(to right, #7da17d, #f2d496);">
            <div class="p-2"></div>
            <div class="p-2"> 
                <h4 class="header-text ps-5 ms-5" style="color: white;">Articles</h4>
            </div>
        </div>

        <%- include('./partials/sidebar') %>

        <div class="page-wrapper" style="font-family: 'DM Sans', sans-serif; background-color:#FAF7F1;">
             <div class="pt-3 pb-3" style="background-color: #F9E2B3;">
                <div class="row p-5 text-center text-dark">
                    <div class="col fs-5 fw-bold">
                        <div class="row px-5">
                            <div class="col-md-3">
                                <img class="float-end" src="/static/images/arrow.png" width="150" ></img>
                            </div>
                            <div class="col-md-6 align-self-center">
                                <form  action="/articles" class="example">
                                    <div class="input-group bg-white">
                                        <input type="text" class="form-control" name="q" value="<%= q %>"
                                            placeholder="Search" style="background: rgba(0,0,0,0); border:0">
                                        <div class="input-group-append ">
                                            <button class="btn btn-secondary" type="button"
                                                style="background: rgba(0,0,0,0); border: 0">
                                                <i class="bi bi-search text-secondary"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 ">
                                <img  class="float-start" src="/static/images/star.svg"  ></img>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container-fluid p-4 m-4">
              
                <div class="row row-cols-3 row-cols-lg-3">
                    <% for (let i = 0; i < articles.length; i++) {%>
                    <div class="column nature">
                        <div class="card-body fc-text-arrow mb-2 fw-bold fs-6"
                            style="background-color: #FFFFFF; border-radius: 15px;">
                            <img src="<%= articles[i].image_url %>" width="350px" height="200px"
                                alt=""
                                style="width:300px; height: 350;">
                            <p class="card-title mt-2 fw-bold fs-6"><%= articles[i].title %></p>
                            <div class="modal-footer border-0 fw-normal" onclick="window.location.href = `/articles/<%= articles[i].slug %>`"> 
                                 <p>Lihat Artikel</p>
                                <button type="button" class="btn bi bi-caret-right-fill"
                                    style="background-color: #E9E9E9"></button>
                            </div>
                        </div>
                    </div>
                    <% } %>
        
                </div>
            </div>

        </div>
  
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/js/custom.js"></script>                                                  
    <script src="/static/js/waves.js"></script>
    
    <script src="/static/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>
    <script src="/static/js/sidebarmenu.js"></script>

    
</body>

</html>