<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Child Reward</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/habiticon.png">
    <link href="/static/styles/style.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="absolute"
        data-header-position="absolute" data-boxed-layout="full">

        <header class="topbar bg-light p-0 m-0" data-navbarbg="skin6" style="font-family: 'DM Sans', sans-serif;">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header p-0" data-logobg="skin6">
         
                    <a class="navbar-brand" href="index.html m-0"></a>
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none m-0"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>

                <div class="navbar-collapse collapse p-0" id="navbarSupportedContent" data-navbarbg="skin5">
 
                    <Section id="tasks"></Section>
                    <div class="container p-0">
                        <div class="row text-dark">
                            <div class="col">
                                <p class="fs-5 fw-bold">Reward</p>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
        </header>

        <%- include('./partials/sidebar') %>
 
        <div class="page-wrapper p-5 pt-2" style="font-family: 'DM Sans', sans-serif;">
   
            <div class="container" style="background-color: #F5F5F5;">
                <div class="position-relative">
                    <div class="container-fluid p-2">
                        <div class="row">
                            <div class="user text-center " style="font-family: 'DM Sans', sans-serif;">
                                <img src="/static/images/users/Mother.png" class="rounded-circle" width="120">
                                <div class="w-100 text-right">
                                    <p class="card-title mt-2 float-right fw-normal">Poin Saya</p>
                                </div>
                                <p class="card-subtitle fw-bold fs-4">1200pt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ml-6 mr-3">
                <div class="row text text-center text-dark">
                    <div class="btn col-6" style="background-color: #EFBD4A;">Reward
                        <!-- ukuran kolom ini 12 -->
                    </div>
                    <div class="btn col-6" style="background-color: #F9E4B5;">Claimed Reward
                        <!-- ukuran kolom ini 6 -->
                    </div>
                </div>
            </div>
            <div class="container p-0 pt-4 m-0">


                <div class="position-relative  p-1">
                    <div class="container">
                        <div class="row mb-3 bg-white">
                            <div class="col-2" style="background-color:#FFFFFF; border-radius: 30px;">
                                <div class="user text-center text-dark p-0 pt-4 mt-3"
                                    style="font-family: 'DM Sans', sans-serif;">
                                    <h1><i class="bi bi-pin-angle-fill"></i></h1>
                                </div>
                            </div>
                            <div class="col-md-7 p-3">
                                <p class="m-0 p-0 fs-4 fw-bold">One Pack Lego</p>
                                <p class="mt-2">1000pt</p>
                            </div>
                            <div class="col-md-3 p-4">
                                <div class="row ml-7">

                                    <b class="mt-2">Diklaim oleh Kobi</b>
                                    <p class="mt-2"><i class="bi-alarm"></i> 22 Juli 2021; 09:00</p>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 bg-white">
                            <div class="col-2" style="background-color:#FFFFFF; border-radius: 30px;">
                                <div class="user text-center text-dark p-0 pt-4 mt-3"
                                    style="font-family: 'DM Sans', sans-serif;">
                                    <h1><i class="bi bi-pin-angle-fill"></i></h1>
                                </div>
                            </div>
                            <div class="col-md-7 p-3">
                                <p class="m-0 p-0 fs-4 fw-bold">Jalan-Jalan ke Taman</p>
                                <p class="mt-2">1000pt</p>
                            </div>

                            <div class="col-md-3 p-4">
                                <div class="row ml-7">

                                    <b class="mt-2">Diklaim oleh Abu</b>
                                    <p class="mt-2"><i class="bi-alarm"></i> 22 Juli 2021; 09:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
  
    <script src="/static/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>
    <script src="/static/js/waves.js"></script>
    <script src="/static/js/sidebarmenu.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/static/plugins/gmaps/gmaps.min.js"></script>
    <script src="/static/plugins/gmaps/jquery.gmaps.js"></script>
    <script src="/static/js/custom.js"></script>
</body>

</html>