<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header', { title: 'Edit Member' }) %>
</head>
<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <div class="header d-flex justify-content-center">
            <p class="p-2 header-text">Ubah Data</p>
        </div>
      
        <%- include('./partials/sidebar') %>

        
        <div class="container-form d-flex justify-content-center">
            <div class="formAddMember text-center">
                <img src="/static/images/users/Brother 1.png" class="rounded-circle mt-3" width="170">
                <p class="pt-5 mb-5" style="font-weight: bold; font-family: Mulish;"> <i class="bi bi-pencil-square me-2"></i>Ubah Foto</p>
                <div class="form">
                    <form >
                        <div class="mb-4">
                            <label class="has-float-label" for="">
                                <input type="text" class="form-control ps-5 pt-2 pe-2 pb-2 fs-5" id="InputEmail1" style="color: #929292;">
                                <span class="labelForm fs-6 ms-2">Username</span>
                                <i class="bi bi-person-circle fs-5" style="position: absolute; top: 12px; left: 20px; color: #929292;" id="edit_username_child"></i>

                            </label>
                        </div>
                        <div class="mb-4">
                            <label class="has-float-label" for="">
                                <input name="password" type="password" id="edit_password_child" class="form-control ps-5 pt-2 pe-2 pb-2 fs-5" style="color: #929292;">
                                <span class="labelForm fs-6 ms-2">Password</span>
                                <i class="bi bi-lock fs-5" style="position: absolute; top: 12px; left: 20px; color: #929292;"></i>
                                <i class="bi bi-eye  fs-5" onclick="passwordShowHide()" id="show_eye" style="position: absolute; top: 12px; right: 20px; color: #929292;"></i>
                                <i class="bi bi-eye-slash d-none fs-5" onclick="passwordShowHide()" id="hide_eye" style="position: absolute; top: 12px; right: 20px; color: #929292;"></i>

                            </label>
                        </div>
                        <div class="text-center d-grid gap-2 pt-2">
                            <button type="submit" class="btn btn-block p-2 fs-5" style="background: #5B8F9A; color: #fff;" id="edit_button">Simpan Perubahan</button>
                        </div>

                        <div class="text-center d-grid gap-2 pt-2 mt-4">
                            <button type="button" class="btn-outline p-2 fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal" >Hapus Data </button>
                        </div>                     
                    </form>                      
                </div>
            </div>
        </div>
    </div>  
                
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="modal">
        <div class="modal-header d-flex justify-content-center">
            <i class="bi bi-exclamation-triangle-fill fs-1 text-danger"></i>
        </div>
        <div class="modal-body">
            <p>Data anggota yang telah dihapus tidak dapat dikembalikan lagi,</p>
            <p>Apakah anda yakin ingin <strong>MENGHAPUS</strong> data ini ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-modal-cancle me-4" data-bs-dismiss="modal">Batalkan</button>
          <button type="submit" class="btn-modal-save me-4" style="background: #5B8F9A; color: #fff;" id="button_hapus">Hapus</button>
        </div>
      </div>
    </div>
  </div>

    <script>
        function passwordShowHide(){
          var x = document.getElementById("password");
          var show_eye = document.getElementById("show_eye");
          var hide_eye = document.getElementById("hide_eye");
          hide_eye.classList.remove("d-none");
          if (x.type === "password") {
            x.type = "text";
            show_eye.style.display = "none";
            hide_eye.style.display = "block";
          } else {
            x.type = "password";
            show_eye.style.display = "block";
            hide_eye.style.display = "none";
          }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>