<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header', { title: 'Detail Member' }) %>
</head>
<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <div class="header d-flex justify-content-between">
            <div class="p-2"></div>
            <div class="p-2" id="nama-member"> 
                
            </div>
            <div class="p-2">
                <p class="addmember pe-5" onclick="window.location.href = '/editMember'"><i class="bi bi-pencil-square pe-2"></i>Ubah Data</p>
            </div>
        </div>
      
        <%- include('./partials/sidebar') %>


        <!-- js -->
        <!-- content start jika member banyak -->
        <!-- content around jika member sedikit -->
        
        <div class="container-member d-flex justify-content-center">
            <div class="p-2 mt-4">
                <img src="/static/images/users/Brother 1.png" class="rounded-circle" width="170">
            </div>
            <div class="p-2 mt-5 pt-5">
                <p class="poinMember">
                    <strong class="h2">300</strong>
                    <strong>poin</strong>
                </p>
            </div>
        </div>

        <div class="headerTaskContainer">
            <p class="header-task">Tugas yang telah dilakukan</p>
        </div>

        <div class="container">
            <div class="modal fade" id="deletedModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0" style="background: #FFFFFF; border-radius: 15px; width: 565px;
                    height: 331px;">
                    <div class="">
                        <p class="modal-title h1 bi bi-exclamation-triangle-fill position-absolute top-0 start-50"
                            id="exampleModalLabel" style="color: #F95C5C;">
                        </p>

                    </div>
                    <div class="modal-body text-center top-50 start-50 translate-middle"
                        style="text-align: center;">
                        Task yang telah dihapus tidak dapat dikembalikan lagi. Apakah
                        anda yakin ingin *MENGHAPUS TASK* ini ?
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn" style="background-color: #E9E9E9;"
                            data-bs-dismiss="modal">Batalkan</button>
                        <button type="button" class="btn text-white" id="hapus-task"
                            style="background-color: #5B8F9A">Hapus</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="itiModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"
                style="background-color: #F5F5F5; border-radius: 15px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-floating">
                            <select class="form-select update-category"
                                aria-label="Floating label select example">
                            </select>
                            <label for="floatingSelect">Kategori</label>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Task</label>
                            <textarea class="form-control update-title" id="message-text"></textarea>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="update-asign"
                                aria-label="Floating label select example">
                            </select>
                            <label for="floatingSelect">Ditugaskan Untuk</label>
                        </div>
                        <div class="item form-group">
                            <label
                                class="col-form-label col-md-3 col-sm-3 label-align">Deadline
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="date-picker form-control deadline"
                                    placeholder="dd-mm-yyyy" type="text" required="required"
                                    type="text" onfocus="this.type='date'"
                                    onmouseover="this.type='date'"
                                    onclick="this.type='date'" onblur="this.type='text'"
                                    onmouseout="timeFunctionLong(this)">
                                <script>
                                    function timeFunctionLong(input) {
                                        setTimeout(function () {
                                            input.type = 'text';
                                        }, 60000);
                                    }
                                </script>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Poin</label>
                            <input type="number" oninput="this.value=(parseInt(this.value)||0)" class="form-control input-point">
                        </div>

                       <div id="alert-update" style="display:none">
                           <p style="color:#f44336">Mohon untuk lengkapi semua data!                                                        </p>
                       </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #E9E9E9"
                        data-bs-dismiss="modal">Batalkan</button>
                    <button type="button" class="btn text-white" id="update-task"
                        style="background-color: #5B8F9A">Simpan</button>
                </div>
            </div>
        </div>
    </div>
     </div>

        <div class="taskContainer"> </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/js/familyDetail.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/waves.js"></script>
</body>
</html>