<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header', { title: 'Add Member' }) %>
</head>
<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <div class="header d-flex justify-content-center">
            <p class="p-2 header-text">Nama Keluarga</p>
        </div>
      
        <%- include('./partials/sidebar') %>

        
        <div class="container-form d-flex justify-content-center">
            <div class="formAddMember text-center">
                <img src="/static/images/users/Group 402.png" class="rounded-circle my-4" width="170">
                <div class="form">
                    <form action="/addmember" method="POST">
                        <div class="mb-4">
                            <label class="has-float-label" for="">
                                <input type="text" name="username" class="form-control ps-5 pt-2 pe-2 pb-2 fs-5" id="InputEmail1" placeholder="Masukkan username" style="color: #929292;">
                                <span class="labelForm fs-6 ms-2">Username</span>
                                <i class="bi bi-person-circle fs-5" style="position: absolute; top: 12px; left: 20px; color: #929292;"></i>

                            </label>
                        </div>
                        <div class="mb-4">
                            <label class="has-float-label" for="">
                                <input type="text" name="name" class="form-control ps-5 pt-2 pe-2 pb-2 fs-5" id="InputEmail1" placeholder="Masukkan nama" style="color: #929292;">
                                <span class="labelForm fs-6 ms-2">Name</span>
                                <i class="bi bi-person-circle fs-5" style="position: absolute; top: 12px; left: 20px; color: #929292;"></i>

                            </label>
                        </div>
                        <div class="mb-4">
                            <label class="has-float-label" for="">
                                <input name="password" type="password" id="password" class="form-control ps-5 pt-2 pe-2 pb-2 fs-5" placeholder="Masukkan password" style="color: #929292;">
                                <span class="labelForm fs-6 ms-2">Password</span>
                                <i class="bi bi-lock fs-5" style="position: absolute; top: 12px; left: 20px; color: #929292;"></i>
                                <i class="bi bi-eye  fs-5" onclick="passwordShowHide()" id="show_eye" style="position: absolute; top: 12px; right: 20px; color: #929292;"></i>
                                <i class="bi bi-eye-slash d-none fs-5" onclick="passwordShowHide()" id="hide_eye" style="position: absolute; top: 12px; right: 20px; color: #929292;"></i>

                            </label>
                        </div>
                        <div class="text-center d-grid gap-2 pt-2">
                            <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-block p-2 fs-5" style="background: #5B8F9A; color: #fff;">Tambah Member</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
            <i class="bi bi-check2-circle fs-1 text-success"></i>
        </div>
        <div class="modal-body">
            <p>Berhasil menambahkan anggota keluarga</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-modal-save me-4" data-bs-dismiss="modal" style="background: #5B8F9A; color: #fff;" onclick="window.location.href='/family'">Tutup</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal end -->
  <%- include('./partials/footer') %>
    <script>
        function passwordShowHide(){
          var x = document.getElementById("password");
          var show_eye = document.getElementById("show_eye");
          var hide_eye = document.getElementById("hide_eye");
          hide_eye.classList.remove("d-none");
          if (x.type === "password") {
            x.type = "text";
            show_eye.style.display = "none";
            hide_eye.style.display = "block";
          } else {
            x.type = "password";
            show_eye.style.display = "block";
            hide_eye.style.display = "none";
          }
        }
      </script>
</body>
</html>