<!DOCTYPE html>
<html>
  <head>
    <title>Home-Note</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Note</h1>
    <a href="/addnote">addnote</a>
    <a href="/deletenote">deletenote</a>
    <a href="/editnote">editnote</a>
  </body>
</html>