!<!DOCTYPE html>
<html>
  <head>
    <title>Family Member</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Family Member</h1>
   <h1>hi <%= data1 %> </h1> 
    <a href="/addmember">addmember</a>
    <a href="/deletemember">deletemember</a>
    <a href="/listmember">listmember</a>
  </body>
</html>