<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header', { title: 'Note' }) %>
</head>
<body>
    <!-- nambah efek transisi fade -->
    <div class="preloader">
      <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
      </div>
    </div>
    <div class="container-fluid p-0 d-flex margin-auto">
        <%- include('./partials/sidebar') %>
        <div class="notes-list p-4">
            <div id="note_heading" class="mt-3 d-flex justify-content-between">
                <h2 id="notes_list_h2">Notes list</h2>
                <h4>
                    <button type="button" class="bi bi-plus-circle-fill border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap"></button>
                </h4>
                <%# modal (form) add note %>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content" id="modal">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLabel">Note baru</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/api/notes/create">
                            <div class="mb-3">
                              <label for="add_note_title" class="col-form-label">Judul:</label>
                              <input type="text" class="form-control" id="add_note_title">
                            </div>
                            <div class="mb-3">
                              <label for="add_note_desc" class="col-form-label">Deskripsi:</label>
                              <textarea class="form-control" id="add_note_desc"></textarea>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="add_note_button">Tambah note</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <%# modal (form) add note%>
            </div>
            <div class="notes-group h-90" id="note_list">
            </div>
        </div>

        <%# note details %>
        <div class="notes-details p-4 d-none" id="notes_details">
            <div class="d-flex justify-content-end">
                <h3>
                    <i class="bi bi-pin-fill" id="pin_button"></i>
                    <button type="button" class="bi bi-pencil-fill border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal-update" data-bs-whatever="@getbootstrap" id="update_button"></button>
                    <button type="button" class="bi bi-trash-fill border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal-delete" data-bs-whatever="@getbootstrap"></button>
                </h3>
                <%# modal (form) update note %>
                <div class="modal fade" id="exampleModal-update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" id="modal">
                      <div class="modal-header border-0 ">
                        <h4 class="">Ubah note</h4>
                      </div>
                      <div class="modal-body pt-0">
                        <form>
                          <div class="mb-3">
                            <label for="update_note_title" class="col-form-label">Judul:</label>
                            <input type="text" class="form-control" id="update_note_title">
                          </div>
                          <div class="mb-3">
                            <label for="update_note_desc" class="col-form-label">Deskripsi:</label>
                            <textarea class="form-control" id="update_note_desc"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="update_note_button">Ubah note</button>
                      </div>
                    </div>
                  </div>
                </div>
                <%# modal (form) update note%>
                <%# modal (form) delete note %>
                <div class="modal fade" id="exampleModal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" id="modal">
                      <div class="modal-header p-3 border-0">
                        <p class="modal-title fs-1 bi bi-exclamation-triangle-fill position-absolute top-0 start-50" id="exampleModal-delete-label" style="color: #F95C5C;">
                        </p>
                      </div>
                      <div class="modal-body text-center mt-3">
                        Notes yang telah dihapus tidak dapat dikembalikan lagi, <br>
                        Apakah anda yakin ingin MENGHAPUS Notes ini ?
                      </div>
                      <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
                        <button type="button" class="btn btn-primary" id="delete_note_button" >Hapus</button>
                      </div>
                    </div>
                  </div>
                </div>
                <%# modal (form) delete note%>
            </div>
            <div class="notes-content px-4 h-90" id="notes_content">
                <h2></h2>
                <div class="border-bottom"></div>
                <br>
                <h5></h5>
            </div>
            <div class="px-4" id="note_footer">
                <span id='last_updated'>
                    <p></p>
                </span>
            </div>
        </div>
        <%# note details%>

        <div id = "empty_note" class="d-flex flex-column d-inline v-center text-center d-none">
          <img src="static/images/cuate.png" alt="empty note">
          <h4>Hmm notes kamu kosong, <br> Buat sekarang yuk!</h4>
          <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">
            Buat Catatan
          </button>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <script src="/static/js/note.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/waves.js"></script>
    <script src="/static/js/sidebarmenu.js"></script>
</body>
</html>