<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header', { title: 'Landing' }) %>
</head>
<body id="landing" class="d-flex justify-content-center p-0">
    <div>

      <div class="row mt-5 d-flex justify-items-middle">
        <div class="col-md-auto">
          <img class="img-fluid" src="/static/images/pictlanding.png" alt="habitillustration>">
          <div class="d-flex justify-content-center">
            <h2 class="d-inline" >From Little Things Become</h2>
            <h2 class="d-inline ms-1" style="color:white">Habit</h2>
          </div>
          <div class="mt-3 d-flex justify-content-center" style="color:#212121">
            <p>Mengelola tugas dan mengatur kegiatan keluarga menjadi lebih mudah.
              <br>Berikan lebih banyak apresiasi dan bangunlah kebiasaan bersama.
            </p>
          </div>
  
          <div class="d-flex justify-content-center" >
            <button type="button" id="index_login" class="btn btn-primary mt-4" onclick="window.location.href = '/register'" >
                <strong>Buat Akun Sekarang</strong>
            </button>
          </div>
          <div class="d-flex justify-content-center">
            <p style="color: #666666" class="mt-2">
              Sudah punya akun?
              <a href="/login" style="color:black;" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Masuk</a>
          </p>
          </div>
        </div>
      </div>
      <!--  -->
      
      <%# modal (form) add note %>
      <div class="modal fade text-center" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title margin-auto" id="exampleModalLabel">Halo, <br> Mau masuk sebagai?</h5>
            </div>
            <div class="modal-footer margin-auto">
              <button type="button" class="btn btn-primary w-100" onclick="window.location.href = '/memberlogin'">Anak</button>
              <button type="button" class="btn btn-primary w-100" onclick="window.location.href = '/login'">Orang Tua</button>
            </div>
          </div>
        </div>
      </div>
      <%# modal (form) add note %>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>
