<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header', { title: 'Login' }) %>
  </head>
  <body>
    <div class="container-fluid p-0 app" style="background-color: #FFBD24">
      <div class="row app m-0">
        <div class="col px-5" style="background-color: #faf7f1;">
          <form action="/login" class="mb-3 p-3" method="POST">
            <div class="mb-5">
              <div>
                <img src="/static/images/habitlogo.png" alt="logo" class="mt-4 mb-5">
              </div>
              <h3 class="mt-5">Halo, Selamat Datang!</h3>
              <p class="text-secondary">Masuk untuk mulai mengelola waktu dan tugasmu.</p>
            </div>
            <div class="form-group mt-3">
              <label for="email">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="bi bi-envelope"></i>
                  </span>
                </div>
                <input type="email" class="form-control mb-3" id="email" aria-describedby="emailHelp" name="email" placeholder="cristine.asyique@gmail.com">
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="bi bi-lock"></i>
                  </span>
                </div>
                <input name="password" id="password" type="password" class="form-control mb-3" placeholder="Ketik password">
                <div class="input-group-append">
                  <span id="eye_icon" class="input-group-text" onclick="passwordShowHide();">
                    <i class="bi bi-eye" id="show_eye"></i>
                    <i class="bi bi-eye-slash d-none" id="hide_eye"></i>
                  </span>
                </div>
              </div>
            </div>
            <% if(message.length > 0) { %>
              <div class="alert alert-danger" role="alert">
                  <%= message %>
              </div>
            <% } %>  
            <div>
              <button type="submit" class="btn btn-primary shadow w-100 my-3 h-button" style="background-color: #7DA17D;">Masuk</button>
            </div>
            <p class="mt-3" style="color: #929292;">Belum punya akun? <a href="/register" id="reg-link-login" class="link-nostyle">Daftar</a></p>
          </form>
          <div id="copyright" class="text-muted-start text-secondary px-3">&copy; 2021 Binar. All rights reserved.</div>
        </div>

        <div class="col-7 d-none d-sm-none d-md-block px-0" style="background-color: #FFBD24">
          <img class="app" src="/static/images/login-bg.png" alt="illustration">
        </div>
      </div>
    </div>

    <script>
      function passwordShowHide(){
        var x = document.getElementById("password");
        var show_eye = document.getElementById("show_eye");
        var hide_eye = document.getElementById("hide_eye");
        hide_eye.classList.remove("d-none");
        if (x.type === "password") {
          x.type = "text";
          show_eye.style.display = "none";
          hide_eye.style.display = "block";
        } else {
          x.type = "password";
          show_eye.style.display = "block";
          hide_eye.style.display = "none";
        }
      }
    </script>
  </body>
</html>
