<!DOCTYPE html>
<html>
    <head>
      <%- include('./partials/header', { title: 'Register' }) %>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    </head>

  <body class="app">
    
    <div class="container-fluid p-0" style="background-color: #FFBD24">
      <div class="row app m-0" style="background-color: #faf7f1;">
          <div class="col align-self-center p-3">
              <div class="px-5">
                  <img src="/static/images/habitlogo.png" alt="logo" class="mb-5" id="logo">
              </div>
              <div class="px-5 mb-5">
                  <h3>Mulai Perjalananmu</h3>
                  <p class="text-secondary">Daftar untuk mulai mengelola waktu dan tugasmu.</p>
              </div>
              <div class="px-5" style="color: #929292">
                  <form action="/register" method="POST">
                  <div class="form-group mt-3">
                    <label for="familyname">Nama Keluarga</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control mb-3" id="familyname" aria-describedby="familyname" name="familyname" placeholder="Keluarga Bahagia">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name">Nama</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control mb-3" id="name" aria-describedby="name" name="name" placeholder="Cristine">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="bi bi-envelope"></i>
                        </span>
                      </div>
                      <input type="email" class="form-control mb-3" id="email" aria-describedby="Email" name="email" placeholder="cristine.asyique@gmail.com">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="bi bi-lock"></i>
                        </span>
                      </div>
                      <input name="password" id="password" type="password" class="form-control rounded mb-3" placeholder="Ketik password">
                    </div>
                  </div>

                <% if(message.length > 0) { %>
                  <div class="alert alert-danger" role="alert">
                  <%= message %>
                  </div>
                <% } %>  
                  <button class="btn shadow p-3 mb-5 w-100 mt-3 mb-5 py-3" id="daftar" style="background-color: #7DA17D; color: white" type="submit" value="Daftar" onclick="location.href='/login'">Daftar</button>
                  </form>

                  
                  <div>
                      <p style="color: #929292">
                      Sudah punya akun?
                      <a href="/login" style="color:black">Masuk</a>
                      </p>
                     
                  </div>
                  <div class="pt-4">
                    <div class="text-muted-start text-secondary" id="copyright">&copy; 2021 Binar. All rights reserved.</div>
                  </div>
              </div>
            
          </div>

          <div class="col-md-7 d-none d-md-block p-0" id="illustration" style="background-color: #FFBD24">
            <img src="/static/images/register.png" class="app p-0" alt="illustration"> 
          </div>
        </div>
    </div>

    <script>
      function passwordShowHide(){
        var x = document.getElementById("password");
        var show_eye = document.getElementById("show_eye");
        var hide_eye = document.getElementById("hide_eye");
        hide_eye.classList.remove("d-none");
        if (x.type === "password") {
          x.type = "text";
          show_eye.style.display = "none";
          hide_eye.style.display = "block";
        } else {
          x.type = "password";
          show_eye.style.display = "block";
          hide_eye.style.display = "none";
        }
      };
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>
