<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reward</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/habiticon.png">
    <link href="/static/styles/sidebar.css" rel="stylesheet">
    <link href="/static/styles/utils.css" rel="stylesheet">
    <link href="/static/styles/style.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

<body>
     
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="absolute"
        data-header-position="absolute" data-boxed-layout="full">
        <div class="header d-flex justify-content-center" style="background-image: linear-gradient(to right, #7da17d, #f2d496);">
            <div class="p-2"></div>
            <div class="p-2"> 
                <h4 class="header-text ps-5 ms-5"  style="color: white;"> &emsp; &emsp; &emsp; &ensp; Reward</h4>
            </div>
        </div>
  
        <%- include('./partials/sidebar') %>

        <div class="page-wrapper p-5 pt-2 of-y" style="font-family: 'DM Sans', sans-serif; background-color:#FAF7F1;">
            <div class="container" style="background-color: #FAF7F1;">
                <div class="position-relative">
                    <div class="container-fluid p-2">
                        <div class="row">
                            <div class="user text-center " style="font-family: 'DM Sans', sans-serif;">
                                <img src="/static/images/users/gift.png" class="rounded-circle mb-4" width="120">
                                <div class="w-100 text-right">
                                </div>
                                <p class="card-subtitle fw-bold fs-4" id="poin_user"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ml-6 mr-3">
                <div class="row text text-center text-dark">
                    <div id="tab-rewards" class="btn col-6">Reward

                    </div>
                    <div id="tab-claim" class="btn col-6">Claimed Reward

                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 m-0">
                <div class="position-relative mb-3" style="width: 98%;">
                    <div class="container-fluid p-3">
                        <div class="row">

                            <div class="col-md-1 mb-3 p-2">
                                <button type="button" class="btn text-white position-absolute end-0"
                                    style="background-color: #5B8F9A;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add Reward</button>

                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content" id="modal" style="background-color:  #faf7f1; border-radius: 15px;
                                        width: 565px;
                                        height: 348px; ">
                                            <div class="modal-header">
                                                <h5 class="modal-title fw-bold" id="exampleModalLabel">Tambah Reward
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="mb-3">
                                                        <label for="recipient-name" class="col-form-label">Nama Reward</label>
                                                        <input type="text" class="form-control" id="nama_reward">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="recipient-name" class="col-form-label">Poin</label>
                                                        <input type="number" class="form-control" id="poin" oninput="this.value=(parseInt(this.value)||0)">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn"
                                                    style="background-color: #FFFFFF; color: #5B8F9A;"
                                                    data-bs-dismiss="modal">Batalkan</button>
                                                <button type="button" class="btn text-white"
                                                    style="background-color: #5B8F9A" id="tombol_tambah">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="itiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content" style="background-color: #F5F5F5;">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Ubah Reward</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close">
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="mb-3">
                                                        <label for="recipient-name"
                                                            class="col-form-label">Nama Reward</label>
                                                        <input type="text" class="form-control"
                                                            id="edit_title_form">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="recipient-name"
                                                            class="col-form-label">Poin</label>
                                                        <input type="number" class="form-control" oninput="this.value=(parseInt(this.value)||0)" id="edit_point_form">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn" style="background-color: #E9E9E9" data-bs-dismiss="modal">Batalkan</button>
                                                <button type="button" class="btn text-white" style="background-color: #666666" id="button_edit">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="iniModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content" style="background: #FFFFFF; border-radius: 15px; width: 565px; height: 331px;">
                                            <div class=" modal-header p-3 border-0">
                                                <p class="modal-title fs-1 bi bi-exclamation-triangle-fill position-absolute top-0 start-50" id="exampleModalLabel" style="color: #F95C5C;">
                                                </p>
                                            </div>
                                            <div class="modal-body fw-bold text-center p-0 pb-0 pt-5 m-4">
                                                Reward yang telah dihapus tidak dapat dikembalikan lagi. <br />
                                                Apakah
                                                anda yakin ingin *MENGHAPUS REWARD* ini ?
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button type="button" class="btn" style="background-color: #E9E9E9;" data-bs-dismiss="modal">Batalkan</button>
                                                <button type="button" class="btn text-white" style="background-color: #5B8F9A" id="button_hapus">Hapus</button>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                <!-- modal delete -->

                                <!-- modal poin kurang -->
                                <div class="modal fade" id="modal-kurang" tabindex="-1" aria-labelledby="modal-kurang" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content" style="background: #FFFFFF; border-radius: 15px; width: 565px; height: 331px;">
                                            <div class=" modal-header p-3 border-0">
                                                <p class="modal-title fs-1 mt-5 bi bi-exclamation-triangle-fill position-absolute top-0 start-50" id="exampleModalLabel" style="color: #F95C5C;">
                                                </p>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body fw-bold text-center p-0 pb-0 pt-5 mt-4">
                                                Oops, Point mu belum cukup, <br>
                                                kumpulin poin lagi yukk...
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                <!-- modal poin kurang -->

                                <!-- modal sukses claim -->
                                <div class="modal fade" id="modal_sukses_claim" tabindex="-1" aria-labelledby="modal-kurang" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content" style="background: #FFFFFF; border-radius: 15px; width: 565px; height: 331px;">
                                            <div class=" modal-header p-3 border-0">
                                                <p class="modal-title fs-1 mt-5 bi bi-exclamation-triangle-fill position-absolute top-0 start-50" id="exampleModalLabel" style="color: #F95C5C;">
                                                </p>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body fw-bold text-center p-0 pb-0 pt-5 mt-4">
                                                Sukses claim reward!
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button type="button" class="btn text-white" style="background-color: #5B8F9A" onClick="window.location.reload();">Ok</button>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                <!-- modal sukses claim -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="position-relative p-2 of-y w-100">
                    <div id="reward_list" class="container of-y"></div>
                    <div id="reward_list_claimed" class="d-none container of-y"></div>
                </div>

            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>
    <script src="/static/js/waves.js"></script>
    <script src="/static/js/sidebarmenu.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/rewards.js"></script>
</body>

</html>