<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Child Reward</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/habiticon.png">
    <link href="/static/styles/sidebar.css" rel="stylesheet">
    <link href="/static/styles/utils.css" rel="stylesheet">
    <link href="/static/styles/style.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>

<body style="background-color:#FAF7F1;">

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <div class="header d-flex justify-content-center" style="background-image: linear-gradient(to right, #7da17d, #f2d496);">
            <div class="p-2"></div>
            <div class="p-2"> 
                <h4 class="header-text ps-5 ms-5"  style="color: white;"> &emsp; &emsp; &emsp; &ensp; Reward</h4>
            </div>
        </div>
        <header class="topbar bg-light p-0 m-0" data-navbarbg="skin6" style="font-family: 'DM Sans', sans-serif;">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header p-0" data-logobg="skin6">
                    <a class="navbar-brand" href="index.html m-0"></a>
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none m-0" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>

                <div class="navbar-collapse collapse p-0" id="navbarSupportedContent" data-navbarbg="skin5">
                    <Section id="tasks"></Section>
                    <div class="container p-0">
                        <div class="row text-dark">
                            <div class="col">
                                <p class="fs-5 fw-bold">Reward</p>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
        </header>

        <%- include('./partials/sidebar') %>

        <div class="page-wrapper p-5 pt-2" style="font-family: 'DM Sans', sans-serif; background-color:#FAF7F1;">
            
            <div class="loader"></div>

            <div class="container" style="background-color: #F5F5F5;">
                <div class="position-relative">
                    <div class="container-fluid p-2">
                        <div class="row">
                            <div class="user text-center " style="font-family: 'DM Sans', sans-serif;">
                                <img src="/static/images/users/Anak.png" class="rounded-circle" width="120">
                                <div class="w-100 text-right">
                                    <p class="card-title mt-2 float-right fw-normal">Poin Saya</p>
                                </div>
                                <p class="card-subtitle fw-bold fs-4" id="poin_user"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ml-6 mr-3">
                <div class="row text text-center text-dark">
                    <div id="tab-rewards" class="btn col-6">Reward

                    </div>
                    <div id="tab-claim" class="btn col-6">Claimed Reward

                    </div>
                </div>
            </div>
            <div class="container p-0 pt-4 m-0">

                <div class="position-relative  p-1">
                    <div class="container">
                        <div id="rewards-list"></div>
                    </div>
                </div>
            </div>
      
        </div>

    </div>

    <script src="/static/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/static/plugins/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>
    <script src="/static/js/waves.js"></script>
    <script src="/static/js/sidebarmenu.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/rewardChild.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>