<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <%- include('./partials/header', { title: 'Task' }) %>

</head>

<body>
    <!-- nambah efek transisi fade -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
      </div>
      
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" 
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        
        <div class="header d-flex justify-content-center">
            <p class="p-2 header-text">Task</p>
        </div>
 
        <%- include('./partials/sidebar.ejs') %>

        <div class="container-header-task d-flex justify-content-center"  style="background-color: #F9E2B3;">
            <p class="category-text mt-4 ">Kategori Task</p>

            <div class="container-category d-flex justify-content-center mt-3" id="category-list">               
            </div>
        </div>
        
        <div class="container-main-task p-5 pt-2 of-y">
            <div class="position-relative pb-3 pt-1">
                <div class="container-taskController">
                    <div class="row ps-5 pe-4">
                        <div class="col-md-4 p-3">
                            <form class="app-search">
                                <input type="text" class="form-control search-task"placeholder="Search for..." > 
                                <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </div>
                        <div class="col-md-4 p-3">
                            <input class="form-control deadline-task" class='date' type="date" name="date" 
                                required='required' onchange="getDateTime(event);">

                         </div>
                        <div class="col-md-1 p-3">
                                <button type="button" class="btn text-white position-absolute end-0" id="add-task"
                                    style="background-color: #5B8F9A;" data-bs-toggle="modal"
                                    data-bs-target="#createTaskModal" data-bs-whatever="@getbootstrap">Tambah Task</button>
                                <div class="modal fade" id="createTaskModal" tabindex="-1"
                                    aria-labelledby="createTaskModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content" id="modal"
                                            style="background-color: #FFFFFF; border-radius: 15px;">
                                            <div class="modal-header">
                                                <h5 class="modal-title fw-bold" id="createTaskModalLabel">Tambah Task</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-floating">
                                                        <select class="form-select category-name"
                                                            aria-label="Floating label select example">
                                                        </select>
                                                        <label for="floatingSelect">Kategori</label>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="message-text" class="col-form-label">Task</label>
                                                        <textarea class="form-control title-task" id="message-text"></textarea>
                                                    </div>
                                                    <div class="form-floating">
                                                        <select class="form-select" id="asign-selected"
                                                            aria-label="Floating label select example">
                                                            <option value="kobi">Kobi</option>
                                                        <option value="nobi">Nobi</option>
                                                        </select>
                                                        <label for="floatingSelect">Ditugaskan Untuk</label>
                                                    </div>
                                                    <div class="item form-group">
                                                        <label
                                                            class="col-form-label col-md-3 col-sm-3 label-align">Deadline
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 ">
                                                            <input class="date-picker form-control" id="deadline"
                                                                placeholder="dd-mm-yyyy" type="text" required="required"
                                                                type="text" onfocus="this.type='date'"
                                                                onmouseover="this.type='date'"
                                                                onclick="this.type='date'" onblur="this.type='text'"
                                                                onmouseout="timeFunctionLong(this)">
                                                            <script>
                                                                function timeFunctionLong(input) {
                                                                    setTimeout(function () {
                                                                        input.type = 'text';
                                                                    }, 60000);
                                                                }
                                                            </script>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="recipient-name" class="col-form-label">Poin</label>
                                                        <input type="number" oninput="this.value=(parseInt(this.value)||0)" class="form-control total-point">
                                                    </div>

                                                    <div id="alert-create" style="display:none">
                                                        <p style="color:#f44336">Mohon untuk lengkapi semua data!                                                        </p>
                                                      </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn" style="background-color: #E9E9E9"
                                                    data-bs-dismiss="modal">Batalkan</button>
                                                <button type="button" class="btn text-white" id="submit-task"
                                                data-dismiss="modal" style="background-color: #5B8F9A">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>

                        <div class="row ps-5 pe-4">
                            <div id="task-list" class="mt-4"></div>
        
                             <!-- Deleted Modal -->
                            <div class="modal fade" id="deletedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content border-0" id="modal" style="background: #FFFFFF; border-radius: 15px; width: 565px; height: 331px;">
                                     <div class="">
                                         <p class="modal-title h1 bi bi-exclamation-triangle-fill position-absolute top-0 start-50"
                                             id="exampleModalLabel" style="color: #F95C5C;">
                                         </p>
        
                                     </div>
                                     <div class="modal-body text-center top-50 start-50 translate-middle"
                                         style="text-align: center;">
                                         Task yang telah dihapus tidak dapat dikembalikan lagi. Apakah
                                         anda yakin ingin *MENGHAPUS TASK* ini ?
                                     </div>
                                     <div class="modal-footer border-0">
                                         <button type="button" class="btn" style="background-color: #E9E9E9;"
                                             data-bs-dismiss="modal">Batalkan</button>
                                         <button type="button" class="btn text-white" id="hapus-task"
                                             style="background-color: #5B8F9A">Hapus</button>
                                     </div>
                                 </div>
                                </div>
                            </div>
        
                            <!-- Update Modal -->
                            <div class="modal fade" id="itiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content" id="modal" style="background-color: #F5F5F5; border-radius: 15px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-floating">
                                                    <select class="form-select update-category" aria-label="Floating label select example"></select>
                                                    <label for="floatingSelect">Kategori</label>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="message-text" class="col-form-label">Task</label>
                                                    <textarea class="form-control update-title" id="message-text"></textarea>
                                                </div>
                                                <div class="form-floating">
                                                    <select class="form-select" id="update-asign"aria-label="Floating label select example">
                                                        <option value="kobi">Kobi</option>
                                                        <option value="nobi">Nobi</option>
                                                    </select>
                                                    <label for="floatingSelect">Ditugaskan Untuk</label>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3 label-align">Deadline
                                                        <span class="required">*</span>
                                                    </label>
                                                <div class="col-md-6 col-sm-6 ">
                                                    <input class="date-picker form-control deadline" 
                                                        placeholder="dd-mm-yyyy" type="text" required="required"
                                                        type="text" onfocus="this.type='date'"
                                                        onmouseover="this.type='date'"
                                                        onclick="this.type='date'" onblur="this.type='text'"
                                                        onmouseout="timeFunctionLong(this)">
                                                    <script>
                                                        function timeFunctionLong(input) {
                                                            setTimeout(function () {
                                                                input.type = 'text';
                                                            }, 60000);
                                                        }
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Poin</label>
                                                <input type="number" oninput="this.value=(parseInt(this.value)||0)" class="form-control input-point">
                                            </div>
        
                                           <div id="alert-update" style="display:none">
                                               <p style="color:#f44336">Mohon untuk lengkapi semua data!                                                        </p>
                                           </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" style="background-color: #E9E9E9"
                                            data-bs-dismiss="modal">Batalkan</button>
                                        <button type="button" class="btn text-white" id="update-task"
                                            style="background-color: #5B8F9A">Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>   
                    </div>
                </div>

                
            </div>

        <!-- End Page wrapper  -->
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/js/family.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/waves.js"></script>
    
    <script src="/static/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>

    <script src="/static/js/task.js"></script>

</body>

</html>
